[Unit]
Description=Mimamori Exec Server

[Service]
WorkingDirectory=/home/pi/mimamori
ExecStart=/home/pi/mimamori/mimamori-exec-server
Restart=always
User=pi

[Install]
WantedBy=multi-user.target